[2014-10-19 09:32] Yoric opened #1 "Implement Book.prototype.close"

[2014-10-19 09:32] Yoric opened #2 "UX for opening books on Firefox OS"

[2014-10-19 09:33] Yoric opened #3 "UX for opening books on usual platforms"

[2014-10-19 09:33] Yoric opened #4 "Rewrite internal hrefs"

[2014-10-19 09:33] Yoric opened #5 "Show the cover page"
Issue #23 will let users open books from the library. Once we can do this, it will be interesting to display the cover page as part of the library.
# Dependency
- This is a followup to #23

[2014-10-19 09:34] Yoric opened #6 "UX for going to the previous/next page"

[2014-10-19 09:34] Yoric opened #7 "UX for going to the previous/next chapter"

[2014-10-19 09:34] Yoric opened #8 "Support bookmarking"

[2014-10-19 09:35] Yoric opened #9 "Import books to IndexedDB"
When we open books,we should import them to a database, so as to be able to reopen them later (see #23).

[2014-10-19 09:35] Yoric opened #10 "Offer to download books from..."

[2014-10-19 09:35] Yoric opened #11 "Convert cbz transparently"
The cbz format is commonly used for comic books. A cbz file is simply a zip file containing only images.

We should let OpenBerg Lector open comic books.

[2014-10-19 09:35] Yoric opened #12 "Convert txt transparently"
For the moment, Lector opens only .epub books. However, many books are available as .txt files, for instance on [Gutenberg](http://gutenberg.org). It should be relatively simple to modify `book.js` to let it convert .txt files and present them as if they were .epub books.

[2014-10-19 11:13] Yoric opened #13 "Handle screen rotation"
Experience shows that rotating a mobile device when reading is something that happens essentially by accident, e.g. when attempting to read lying on a bed or from a flat surface. So, the screen orientation should be locked.

However, we should also give users the ability to rotate manually.

[2014-10-19 11:14] Yoric opened #14 "Move book viewer to its own component"

[2014-10-19 16:48] Yoric opened #15 "Handle 100% height"

[2014-10-19 20:53] Yoric commented on #15
Fixed by 1f44827.

[2014-10-19 20:53] #15 closed, assigned to nobody

[2014-10-19 20:53] Yoric opened #16 "Handle proper CSS padding"
At the moment, books have no internal margin. That's kind of ugly, and we should fix it.

[2014-10-19 21:27] Yoric commented on #6
We should be able to go from page to page as follows:
- on mobile, touch and drag the screen;
- on desktop, use arrow keys.

[2014-10-20 10:35] Yoric opened #17 "Implement caching of resources"

[2014-10-20 10:41] Yoric commented on #4
Fixed by 0b732bc, 9a4389f, 1bde907.

[2014-10-20 10:41] #4 closed, assigned to nobody

[2014-10-20 10:42] Yoric opened #18 "If there is no book, we should open a default "Welcome to lector" eBook"

[2014-10-20 11:01] Yoric commented on #14
Fixed by ad66908 and previous commits.

[2014-10-20 11:01] #14 closed, assigned to nobody

[2014-10-20 11:03] Yoric opened #19 "The code needs documentation"

[2014-10-20 13:31] Yoric commented on #7
Patch adb0e9c might be sufficient.

[2014-10-20 14:45] Yoric commented on #17
Fixed by d0df538.

[2014-10-20 14:45] #17 closed, assigned to nobody

[2014-10-20 19:01] Yoric commented on #2
The ideal solution would be a `<input type="file">` implementation, but this doesn't exist in Firefox OS.

I have checked out the [FinderJS](https://github.com/Yoric/finderjs) library, and it doesn't seem to do what we need as
- this requires high privileges;
- this doesn't seem to offer an UI.

An alternative would be a way to send a URL from the browser to Lector.

[2014-10-20 19:42] Yoric opened #20 "Open Web App manifest"

[2014-10-21 11:31] Yoric commented on #7
This UX shoulud be sufficient for 0.1. Let's open another issue if we need to improve it.

[2014-10-21 11:31] #7 closed, assigned to Yoric

[2014-10-22 09:28] Yoric opened #21 "Support a night mode/day mode"
We need a night reading mode and a day reading mode.

- Day reading: page background is white, font color is black.
- Night reading: page background is black, font color is white.

#Steps

1. Instances of `BookViewer` have a property `theme` that can be set to specify a custom css file to apply to book chapters. This is how we are going to implement the feature.
2. Create two files `content/day.cs

[2014-10-22 09:32] Yoric opened #22 "[meta] Open a new book"
For the moment, there is no way to open a new book. We need to implement this.

This bug depends on:
- #2 for FirefoxOS;
- #3 for other platforms.

[2014-10-22 09:33] Yoric opened #23 "Open a book from the library"
For the moment, we can only open books from the file picker or from a list of well-known books. We should support opening books that we opened in previous sessions.

Issue #9 covers saving books to the database. This issue is about opening books previously saved to the database.

[2014-10-22 09:33] Yoric opened #24 "[meta] Support opening books"
At the moment, there is no way for users to open books except by passing a url
`index.html?book=...&chapter=...`. This is good for testing but most users will not be able to do this by themselves.

We need a way to let users:
- pick a book for the first time (issue #22);
- reopen a book that they have already opened once (issue #23).

[2014-10-22 09:34] Yoric opened #25 "[meta] Automated tests"
We need automated tests.

[2014-10-22 09:37] Yoric opened #26 "Recover from crashes"
Applications sometimes crash. That's even quite common on mobile platforms, as the operating system will automatically crash applications when it needs memory. Users should not see that. Rather, when we reopen the application, everything should be in place as it initially was.

For this purpose:
- whenever we open a book, change chapter or change page, we should save the information to a database;

[2014-10-22 09:47] Yoric opened #27 "Loading indicator"
While we are loading a book/chapter, we should display a loading indicator, for instance one from:
- https://commons.wikimedia.org/wiki/Throbbers;
- http://preloaders.net/en/3d

[2014-10-22 10:10] Yoric commented on #18
Commit 9e165a4 introduces an empty e-book. We should make it less empty.

[2014-10-22 10:10] #18 closed, assigned to nobody

[2014-10-22 10:11] Yoric opened #28 "Put something interesting in lector.epub"
In issue #18, we introduced an empty lector.epub e-Book. We should put something into it.

For instance:
- the logo of Lector;
- platform-specific explanations on how to open a book.

[2014-11-03 12:34] Yoric opened #29 "When moving to the next chapter, keep the previous chapter in memory for a few seconds"

[2014-11-03 12:34] Yoric opened #30 "Preload the next chapter"
For the moment, when a user goes to the next chapter, the application pauses while the next chapter is loaded. It would be much nicer if the next chapter was loaded automatically when the user arrives a few pages before the end of the chapter.
# Steps
- to load the contents of a chapter, one needs the instance of `ChapterContents` for that given chapter;
- to get that instance of `ChapterContents`

[2014-11-03 12:35] Yoric opened #31 "Introduce a low-memory mode"
Currently, Lector always attempts to use the css, js and images of a book. That's quite expensive. We should introduce an option that would discard these resources and avoids decompressing them.

[2014-11-03 12:36] Yoric opened #32 "Introduce an options module"

[2014-11-03 12:37] Yoric opened #33 "Accept opening uncompressed books"
At the moment, Lector only opens zip-compressed books. In some cases, it would be useful to open non-compressed books.

[2014-11-03 12:38] Yoric commented on #20
bf628ee introduces a yet-to-be-tested manifest

[2014-11-03 12:38] Yoric opened #34 "[meta] Support options"

[2014-11-03 14:49] Yoric commented on #6
This now works for desktop.

[2014-11-03 14:58] #32 closed, assigned to nobody

[2014-11-03 14:59] Yoric opened #35 "Add a top menu"

[2014-11-03 14:59] Yoric opened #36 "Add a bottom menu"

[2014-11-03 14:59] Yoric opened #37 "Display table of contents in the top menu"

[2014-11-03 15:31] Yoric opened #38 "BookViewer should notify when we change chapter"

[2014-11-03 15:31] Yoric opened #39 "Links from a book to the web should be opened by the browser, not by Lector"
At the moment, if a book contains a link e.g. http://www.slashdot.org, when the user clicks the link, this link is opened inside Lector, in the iframe. That's not good, as Lector is not a web browser and does not mean to become one.

Rather, the link should be opened by the web browser itself.
# Steps
- in bookviewer.js, in `ChapterContents`, we use query selector `html > body a` to select all lin

[2014-11-03 15:58] Yoric commented on #38
As of 9ddb14f, observers may listen for BookViewer notification `chapterchange` to be informed whenever we change chapter.

[2014-11-03 15:58] #38 closed, assigned to nobody

[2014-11-03 15:59] Yoric commented on #35
Code can certainly be improved once we actually do something with the menus, but the feature is now present with 7a441c9.

[2014-11-03 15:59] #35 closed, assigned to nobody

[2014-11-03 16:00] Yoric commented on #36
Code can certainly be improved once we actually do something with the menus, but the feature is now present with 7a441c9.

[2014-11-03 16:00] #36 closed, assigned to nobody

[2014-11-03 16:13] Yoric opened #40 "Refactor Observables"

[2014-11-03 16:13] Yoric commented on #40
Fixed by df20c8e.

[2014-11-03 16:13] #40 closed, assigned to nobody

[2014-11-03 16:14] Yoric opened #41 "If we don't have anything to put in the bottom menu, hide it"
We should not release a version with an empty bottom menu. Until the bottom menu is useful, we should keep it hidden.

[2014-11-03 16:15] Yoric opened #42 "Test on Android"
Test the application with Firefox for Android – and make it work if it doesn't work already.

[2014-11-05 16:31] Yoric commented on #16
Actually, on a phone or tablet, that looks nicer without padding, so closing this bug. We should decide what to do to make it look good on a computer, but that's another story.

[2014-11-05 16:48] Yoric commented on #16
Jérémie convinced me that we need a little padding of 0.5em.
Reopening issue.

[2014-11-05 16:49] Yoric opened #43 "Let users change the size of characters"
We need the ability to change the size of characters.

[2014-11-05 20:18] Yoric commented on #16
Fixed by 1009b82.

[2014-11-05 20:18] #16 closed, assigned to nobody

[2014-11-05 21:53] Yoric opened #44 "Add an application cache"
Lector needs to be usable from a cellphone/tablet without web access, e.g. to read in the subway.

For this purpose, we need to put all the source code and resources in an [application cache](https://developer.mozilla.org/en-US/docs/Web/HTML/Using_the_application_cache).

[2014-11-06 11:39] Yoric commented on #27
We have a small loading indicator, which might be sufficient for now.

[2014-11-06 11:39] #27 closed, assigned to nobody

[2014-11-07 12:43] Yoric commented on #16
Apparently, this doesn't work nicely on Firefox OS 1.3. This is most likely a bug in Firefox OS 1.3, so handling this in c0cd6be with a hack, while Firefox OS 2.0+ and Firefox desktop have proper padding.

[2014-11-08 23:14] Yoric commented on #2
Apparently, `<input type="file">` works with Firefox OS 2.0, so this should be good enough.

[2014-11-09 20:16] Yoric commented on #2
Under Firefox OS 1.3, we should test if any of the following applications is sufficient to open the file:
- https://marketplace.firefox.com/app/explorer ;
- https://marketplace.firefox.com/app/file-manager ;
- https://marketplace.firefox.com/app/files ;
- https://marketplace.firefox.com/app/finder ;

If so, we can have compatibility with Firefox OS, we will just need to make sure that any of these

[2014-11-17 15:43] Yoric opened #45 "Problems with Cyrano de Bergerac"
The book is available here: http://www.gutenberg.org/ebooks/1256
Internal links do not work.

This may affect all Gutenberg e-books (and possibly others), so this is pretty important.

[2014-11-21 20:17] Yoric opened #46 "We need a way to return to the welcome screen"
At the moment, once we have opened a book, we cannot close it to open another one.

We need a button to reopen the welcome page, to let the user pick a new book.

[2014-11-21 20:33] Yoric commented on #41
Fixed.

[2014-11-21 20:33] #41 closed, assigned to nobody

[2014-11-21 20:34] Yoric commented on #20
Fixed by ccd3ac4.

[2014-11-21 20:34] #20 closed, assigned to nobody

[2014-11-21 20:34] Yoric commented on #6
This now works on mobile, too.

[2014-11-21 20:34] #6 closed, assigned to nobody

[2014-11-21 20:34] Yoric commented on #3
Fixed.

[2014-11-21 20:34] #3 closed, assigned to nobody

[2014-11-21 20:37] Yoric commented on #2
Books may now be opened by:
- opening Lector, clicking anywhere, then picking a book from a file picker;
- opening an explorer, choosing "open".

In other words, it works.

[2014-11-21 20:37] #2 closed, assigned to nobody

[2014-11-21 20:37] Yoric commented on #22
Issues #2 and #3 have both been fixed.

[2014-11-21 20:37] #22 closed, assigned to nobody

[2014-11-21 21:57] Yoric opened #47 "When some software is missing, inform the user"
On Android and Firefox OS, we rely upon external applications to let users pick a file.

For the moment, if no such application is installed, we fail silently. We should rather provide a link to a recommended application.

Under Firefox OS: https://marketplace.firefox.com/app/explorer or https://marketplace.firefox.com/app/finder.

Under Android, maybe https://play.google.com/store/apps/details?id

[2014-11-22 09:09] Yoric opened #48 "Cleanup unneeded submodules"

[2014-11-22 09:10] #48 closed, assigned to nobody

[2014-11-22 12:37] Yoric opened #49 "Redesign the welcome page"
We need links to:
- instructions;
- how to contribute;
- a few sample books;
- the book picker.

[2014-11-22 12:42] Yoric commented on #49
Fixed by 5818df4.

[2014-11-22 12:42] #49 closed, assigned to nobody

[2014-11-22 12:44] Yoric commented on #28
We're doing without lector.epub.

[2014-11-22 12:45] Yoric opened #50 "Implement BookViewer.prototype.close"
We need to be able to cleanup memory and close a book.

[2014-11-22 20:23] Yoric opened #51 "Test on Flatfish"
For the moment, the Flatfish tablet has seen little love. We should test correctly with that tablet.

[2014-11-22 20:34] Yoric opened #52 "Support large screens"
On desktop computers and other large screens, the current mode is not comfortable. We should split the screen vertically and display two columns on the screen.
## Steps
- in `content/books.css`, add a [media query](https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Media_queries) to detect large screens;
- if the screen is a large screen (`width > 40em`) , use larger margins in `body > *` (`5%

[2014-11-22 23:50] Yoric opened #53 "Support rotations"
At the moment, books are locked in portrait mode. For some books (or some pages), landscape mode would certainly be better. We should expose an option in the menu to let the user rotate the screen manually, and have it trigger [`Screen.lockOrientation`](https://developer.mozilla.org/en-US/docs/Web/API/Screen.lockOrientation).

[2014-11-23 00:13] Yoric opened #54 "Simplify CSS code"

[2014-11-23 00:14] Yoric opened #55 "Get rid of body background color, background image, box shadow"
A number of books define properties for `body` such as a background, a box shadow, etc. These don't display nicely in OpenBerg Lector. We should get rid of them.

To do this, we can simply change the rule for `body` in `content/books.css`, and ensure that the background is white, we have no box shadow, etc.
# See also
- Issue #21 introduces a night mode and a day mode.

[2014-11-23 00:16] Yoric opened #56 "Lock rotations"
We should make sure that we do not rotate the page when the user rotates the device.

[2014-11-23 00:17] Yoric opened #57 "Handle `url(foo)` in CSS"
At the moment, `ChapterContents` knows how to load resources (images, etc.) that are specified from the html source code, but not resources that are specified from the css using `url(...)` notation.

Ideally, we should fix this.

However, we might decide to wait for ServiceWorker to be implemented.

[2014-11-23 00:20] Yoric commented on #56
Fixed by 2e76a9a

[2014-11-23 00:20] #56 closed, assigned to nobody

[2014-11-23 00:20] Yoric commented on #54
Fixed by 2e76a9a

[2014-11-23 00:20] #54 closed, assigned to nobody

[2014-11-23 08:16] Yoric opened #58 "Full screen"
When we open a book, we should go fullscreen, using [the requestFullScreen API](https://developer.mozilla.org/en-US/docs/Web/API/Element.requestFullScreen).
# Steps
- in the constructor of bookviewer.js, add a "load" event handler to the `<iframe>` we create;
- in this event handler, call `document.body.mozRequestFullScreen()`.

[2014-11-23 09:06] Yoric commented on #33
Actually, this doesn't really sound useful. Closing for the moment.

[2014-11-23 09:06] #33 closed, assigned to nobody

[2014-11-23 09:17] Yoric commented on #13
Locking was done. Manual rotation is now issue #53.

[2014-11-23 09:17] #13 closed, assigned to nobody

[2014-11-23 19:52] Yoric opened #59 "Add an installer"
Whenever the application is executed as a webpage, we should offer the opportunity for users to install it.
## Steps
- in app.js, find out whether [`window.navigator.mozApps`](https://developer.mozilla.org/en-US/docs/Web/API/Apps) is defined;
- if so, [check if the application is already installed](https://developer.mozilla.org/en-US/docs/Web/API/Apps.checkInstalled),
- if it is not installed, add

[2014-11-23 19:53] Yoric opened #60 "Submit to the Marketplace"
Once we are satisfied that the application is ready, we should submit it to the Firefox Marketplace.

[2014-11-23 19:54] Yoric opened #61 "Scan the sdcard for books"
Once we have #23, we should add a feature to scan the sdcard for books and import them to the library.

For this purpose, we should use [finder.js](https://github.com/applait/finderjs), a library designed specifically for this purpose.
# Dependencies
- The library itself will appear with #23.
- Finder.js only works with applications that have been installed, so we need the installer of #59.

[2014-11-23 21:35] Yoric opened #62 "Separate loading mechanism from BookViewer"
BookViewer attempts to do too many things. We should split it up.

[2014-11-23 22:30] Yoric opened #63 "Load images later when both width and height are provided"
Generally, we need to load images while we load the chapter, to be able to layout the pages accordingly. However, whenever we know both the width and the height of the image, we might be able to load the chapter faster, by delaying the actual load of images.

[2014-11-23 23:50] Yoric commented on #62
Commits d424086 and bced1e9 should cover most of the work. Now, if we find a way to get rid of `endOfChapter`, we should be done.

[2014-11-24 10:37] Yoric opened #64 "Add a favicon"
OpenBerg Lector doesn't have a favicon.

This should be as simple as adding `<link rel="icon" type="image/png"
 href="img/icon60.png" />` to the `<head>` section of `index.html`.

[2014-11-24 11:55] Yoric opened #65 "Introduce a Library object"

[2014-11-24 11:56] Yoric commented on #62
Fixed by the latest commits.

[2014-11-24 11:56] #62 closed, assigned to nobody

[2014-11-24 12:40] Yoric opened #66 "Scrolling left from the first page of the book breaks badly"

[2014-11-24 13:07] Yoric opened #67 "Pages are broken on Firefox OS 2.1"
Apparently, there is a problem with padding.

[2014-11-24 17:15] Yoric commented on #65
Fixed by the above commits.

[2014-11-24 17:15] #65 closed, assigned to Yoric

[2014-11-24 19:25] Yoric commented on #66
This has been fixed at some point.

[2014-11-24 19:25] #66 closed, assigned to nobody

[2014-11-24 21:47] Yoric opened #68 "Add placeholder menus in the top menu"

[2014-11-24 22:34] Yoric opened #69 "The arrows are ugly"
The arrows on the bottom are currently represented as <- and ->. That's ugly. We should try replacing them either with [Unicode arrows](http://unicode-table.com/en/sets/arrows-symbols/) or with images.

[2014-11-24 23:09] Yoric commented on #68
Fixed.

[2014-11-24 23:09] #68 closed, assigned to Yoric

[2014-11-25 10:24] Yoric opened #70 "The cover page of 1984 is ugly"
Apparently the `max-height: 100%` is not sufficient. Most likely, that doesn't take into account the fact that we have columns.

[2014-11-25 10:30] Yoric commented on #70
With b2034ea, we now inject a maximal size for images, computed from the size of the `<body>`.

[2014-11-25 10:30] #70 closed, assigned to nobody

[2014-11-25 10:33] Yoric opened #71 "On rotation/screen resize, we should fit to the nearest page"
At the moment, whenever we resize the screen or rotate it, we generally end up displaying a bit of two pages at once.

We should rather pick a page and display it.
## Steps
- in `content/script.js`, in function `setupColumns`, add a call to `scrollToPage(currentPage)`

[2014-11-25 11:09] Yoric commented on #67
Fixed by 14c9a9e.

[2014-11-25 11:09] #67 closed, assigned to nobody

[2014-11-25 11:15] Yoric opened #72 "Find a way to have margins on Firefox OS < 2.2"

[2014-11-25 11:17] Yoric commented on #72
Fixed by the above commit.

[2014-11-25 11:17] #72 closed, assigned to nobody

[2014-11-25 11:24] Yoric opened #73 "Use the same css everywhere"

[2014-11-25 11:58] #73 closed, assigned to nobody

[2014-11-25 12:00] Yoric opened #74 "Default font size should be 15px"
The default font size is too small on desktop computers and too large on cellphones.

We should standardize with 15px to begin with.

[2014-11-25 12:16] Yoric opened #75 "Clicking/touching an arrow should not cause the menu to be displayed"
At the moment, clicking on the arrows in the bottom of the screen causes the green menu to appear. That's disruptive.
## Steps
- in app.js, customize the `click` event listener for `$("arrow_left")` and `$("arrow_right")` so that methods `stopPropagation()` is called on the event.

[2014-11-25 12:22] Yoric opened #76 "The arrows should be visible only when we are reading a book."
In the bottom of the screen, we have two arrows. They appear when we start the application, but they are only really useful when a book is opened. We should make them appear only when a book is loaded.
## Steps
- in `index.html`, add classes `fade_inout` and `hidden` to `<div id="arrows">`;
- in `app.js`, in the observer of notification `book:open`, remove `hidden` from the `classList` of `$("arro

[2014-11-25 12:24] Yoric commented on #55
Actually, with the changes of #72 and #73, this might not be needed anymore.

[2014-11-25 12:24] #55 closed, assigned to nobody

[2014-11-25 12:37] Yoric commented on #51
Apparently, this works nicely.

[2014-11-25 12:37] #51 closed, assigned to nobody

[2014-11-25 14:14] #50 closed, assigned to nobody

[2014-11-25 14:17] Yoric commented on #46
# Steps
- in app.js, attach an event listener for `click` on `$("menu_top_left")`;
- have that event listener remove class `scrolledleft` from `$("welcome")`.

[2014-11-25 14:32] Yoric commented on #45
Actually, this was a problem in the internal links in all of our books. Fixed by the above commit.

[2014-11-25 14:32] #45 closed, assigned to nobody

[2014-11-25 14:33] Yoric opened #77 "Going to the last page of a chapter shows a white page"

[2014-11-25 14:36] Yoric commented on #77
Fixed by the above commit.

[2014-11-25 14:36] #77 closed, assigned to nobody

[2014-11-25 15:31] Yoric opened #78 "Handle internal links with anchors"

[2014-11-25 15:47] Yoric opened #79 "${} breaks under Firefox OS 1.3"

[2014-11-25 15:49] Yoric commented on #79
Fixed by above commit.

[2014-11-25 15:49] #79 closed, assigned to Yoric

[2014-11-25 17:01] Yoric commented on #78
Fixed by the above commits.

[2014-11-25 17:01] #78 closed, assigned to nobody

[2014-11-25 19:39] Yoric opened #80 "When we open a book, display a message explaining how to browse"
First-time users may not know how to browse through a book.

When opening a book, it would be great to open a semi-transparent message, (e.g. "To change page, swipe pages to the left or the right") that disappears after one second or so.

[2014-11-25 19:40] Yoric opened #81 "Implement a module to display messages"

[2014-11-25 19:48] Yoric opened #82 "On desktop, we should be able to change the page with the mouse wheel/touchpad"
On mobile, we change the page with the touch screen. For this purpose, in `content/script.js` we monitor `touchstart`, `touchmove` and `touchend`.

On desktop, we should be able to do the same [with the mouse wheel](https://developer.mozilla.org/en-US/docs/Web/Events/wheel).

[2014-11-25 23:16] Yoric opened #83 "Going to the last page of a chapter is sometimes off, again"
Most likely, fallback from #77.

[2014-11-25 23:18] Yoric commented on #83
Fixed by the above commit.

[2014-11-25 23:18] #83 closed, assigned to nobody

[2014-11-25 23:25] Yoric opened #84 "On desktop, the arrows are too small"

[2014-11-26 23:26] Yoric opened #85 "Get rid of image CSS hack"
Since #70, we use a strange piece of JS code to dynamically recompute the CSS used to prevent large images from. As it turns out, we can do much simpler by using units `vh` and `vw`, which are indexed upon the height and width of the viewport.

This would simplify the code and make it more responsive during tests.

[2014-11-26 23:42] Yoric opened #86 "Move `body > *` to a single `<div>` to reduce interference"

[2014-11-27 06:12] Yoric commented on #86
Fixed by the above commit.

[2014-11-27 06:12] #86 closed, assigned to nobody

[2014-11-27 06:13] Yoric opened #87 "Make `scrollToPage` support `Element` destinations"

[2014-11-27 06:14] Yoric commented on #87
Took the opportunity to get rid of the `Infinity` hack for the last page.

[2014-11-27 06:14] #87 closed, assigned to Yoric

[2014-11-27 06:14] Yoric commented on #85
Fixed by above commit.

[2014-11-27 06:14] #85 closed, assigned to nobody

[2014-11-27 14:20] Yoric opened #88 "File picker is broken"
Issue initially described [here](https://github.com/openberg/lector/issues/1). I can reproduce with pretty much any epub, but not deterministically.

[2014-11-27 14:24] Yoric commented on #88
Oh, great. This was due to the `<a href="">` in `index.html`, which caused the page to (sometimes) reload in a race with the file picking.

Issue solved by the above commit.

[2014-11-27 14:24] #88 closed, assigned to Yoric

[2014-11-27 14:42] SteveALee commented on #88
I confirm is fixed in the live instance. Thanks.

[2014-11-27 20:57] Yoric commented on #81
Probably not that useful.

[2014-11-27 20:57] #81 closed, assigned to nobody

[2014-11-27 20:58] Yoric opened #89 "Let users change the size of characters"
For the moment, users are locked to a default character size. We should be able to change it.

# Steps

1. To change the size of characters in the display, we have a method `setFontSize` in `BookViewer`;
2. File `index.html` defines a field `input_fontsize` that lets users pick a new size for characters. Whenever it notifies of event `change`, we should call that method `setFontSize`.

[2014-11-29 00:00] Yoric opened #90 "Extract table of contents from epub books"
This will be necessary for #37.

[2014-11-29 00:02] Yoric commented on #90
Fixed by above comment.

[2014-11-29 00:02] #90 closed, assigned to nobody

[2014-11-29 00:02] Yoric commented on #37
Now that #90 is fixed, this should be easier.

[2014-11-29 00:04] Yoric opened #91 "The green menu shouldn't be displayed on startup."
The green menus are displayed shortly on startup. They shouldn't be.
# Steps
- In `index.html`, add class `hidden` to both `menu_top` and `menu_bottom`

[2014-11-30 11:03] airon90 opened #92 "Translation"
Hi, I would like to translate the app into Italian and Esperanto. How can I do that?
Thank you very much!

[2014-11-30 20:00] Yoric commented on #92
That's a very good question. From my searching, it looks like the following approach could work nicely:
- http://eligrey.com/blog/post/passive-localization-in-javascript/
- http://www.ab-weblog.com/en/internationalization-how-to-localize-html5-projects/

Do you feel up to the task of porting Lector to these libraries?

[2014-12-02 14:07] Yoric opened #93 "Cannot read Gitbook e-books"

[2014-12-02 14:13] Yoric opened #94 "Extract generateLink into its own method"

[2014-12-02 14:13] Yoric opened #95 "Don't remove the submenus when we update the menu"

[2014-12-02 14:14] Yoric opened #96 "The title of the chapter isn't displayed"

[2014-12-02 14:14] Yoric opened #97 "Display the title of the chapter in the title bar"

[2014-12-02 14:18] Yoric commented on #97
Fixed by the above commit.

[2014-12-02 14:18] #97 closed, assigned to Yoric

[2014-12-02 14:18] Yoric commented on #96
Fixed by the above commit.

[2014-12-02 14:18] #96 closed, assigned to Yoric

[2014-12-02 14:19] Yoric commented on #95
Fixed by the above commit.

[2014-12-02 14:19] #95 closed, assigned to Yoric

[2014-12-02 14:19] Yoric commented on #94
Fixed by the above commit.

[2014-12-02 14:19] #94 closed, assigned to Yoric

[2014-12-02 14:20] Yoric commented on #93
There are two issues:
1. gitbook e-books have `overflow:hidden`, which is incompatible with columns;
2.  the cover page is svg, which we didn't handle yet.

Fixed by the above commit.

[2014-12-02 14:20] #93 closed, assigned to nobody

[2014-12-02 14:21] Yoric commented on #28
We now have something interesting in lector.epub.

The source of the book is here: https://www.gitbook.com/book/yoric/welcome-to-openberg-lector.

[2014-12-02 14:21] #28 closed, assigned to Yoric

[2014-12-02 14:34] Yoric opened #98 "Subscribe to Open Publication Distribution System sources"
The [Open Publication Distribution System](https://en.wikipedia.org/wiki/OPDS) is a mechanism used by book publishers, libraries, Calibre, etc. as a catalog of publications, to let ebook readers download lists of books and books themselves. It might be interesting to let Lector connect and download books through this mechanism.

See also http://wiki.mobileread.com/wiki/OPDS#Online_OPDS_Catalogs fo

[2014-12-02 14:42] Yoric commented on #42
Well, it works.

[2014-12-02 14:42] #42 closed, assigned to Yoric

[2014-12-03 14:10] Yoric opened #99 "Implement BookViewer.prototype._getChapterContentsForChapter"
This should make #30 easier.

[2014-12-03 14:11] Yoric commented on #99
Fixed by the above commit.

[2014-12-03 14:11] #99 closed, assigned to Yoric

[2014-12-03 18:09] Yoric opened #100 "Associate Firefox with epub books in desktop applications"
The [`registerContentHandler`](https://developer.mozilla.org/en-US/docs/Web/API/Navigator.registerContentHandler) API lets a web application register to serve as reader for a given kind of content. This may (no certainty) let us register Lector as a reader for ebooks.

This requires Lector to be installed, as we'll need `SystemXHR`.

To be explored.

[2014-12-03 18:10] Yoric opened #101 "Investigate Text-to-Speech"
For visibility-impaired users, it would be great to be able to read ebooks aloud, using some Text-to-Speech API.

Possible API: http://www.voicerss.org

To be explored.

[2014-12-06 13:13] Yoric opened #102 "Drop down menu"
We need a drop down menu for the options.

[2014-12-06 13:16] Yoric opened #103 "The menu is ugly"
Let's make it look better :)

[2014-12-06 13:22] Yoric commented on #102
Fixed by the above commit.

[2014-12-06 13:22] #102 closed, assigned to Yoric

[2014-12-06 18:29] airon90 commented on #92
I'm sorry but I'm not a coder! :( I contribute to free software with translations. That is my way to support some cool projects like yours :)

[2014-12-07 12:27] Yoric opened #104 "The menu closes when we click on it"

[2014-12-07 12:28] Yoric commented on #104
Fixed by the above commit.

[2014-12-07 12:28] #104 closed, assigned to Yoric

[2014-12-07 22:34] Yoric opened #105 "Implement BookViewer.prototype.setFontSize"
For the sake of #89, we need a way to set the font size of the book viewer.

[2014-12-07 22:42] Yoric opened #106 "Top right menu is missing `id`s"

[2014-12-07 22:42] Yoric commented on #106
Fixed by the above commit.

[2014-12-07 22:42] #106 closed, assigned to Yoric

[2014-12-07 22:42] Yoric commented on #105
Fixed by the above commit.

[2014-12-07 22:42] #105 closed, assigned to Yoric

[2014-12-07 23:17] Yoric opened #107 "Implement BookViewer.prototype.setTheme"
This will make issue #21 simpler.

[2014-12-07 23:19] Yoric commented on #107
Fixed by the above commit.

[2014-12-07 23:19] #107 closed, assigned to Yoric

[2014-12-08 09:13] AlexManga commented on #91
I would like to work on this bug

[2014-12-08 09:35] Yoric commented on #91
Thanks for fixing the bug.

[2014-12-08 09:35] #91 closed, assigned to nobody

[2014-12-08 09:40] indydedeken commented on #64
Hi, @BragaLuis and me can fix it.

[2014-12-08 09:41] edouardalvescamilo commented on #46
I would like to fix this issue.

[2014-12-08 09:41] axelajv commented on #76
I would like to work on this issue !!

[2014-12-08 09:41] KSMAILI commented on #76
I would like to work on this issue

[2014-12-08 09:42] IndianBoyJii commented on #74
ChristelleA, EmmanuelPetit and I would like to work on this issue.

[2014-12-08 09:43] guusgit commented on #84
i would like to fixe this issue

[2014-12-08 09:43] fatimzahara commented on #58
i would like to work on this bug.

[2014-12-08 09:44] TheodoreGC commented on #69
I would like to work on this problem.

[2014-12-08 09:45] Yoric commented on #64
Sounds good, have fun :)

[2014-12-08 09:45] Yoric commented on #46
Have fun :)

[2014-12-08 09:45] antoinemaz commented on #39
i would like to work on this issue

[2014-12-08 09:46] moreaupierrick commented on #89
i would like to work on this bug

[2014-12-08 09:46] Yoric commented on #76
@axelajv, @KSMAILI, would you like to work together?

[2014-12-08 09:47] Yoric commented on #74
The font size is defined in `js/config.js`.
Have fun :)

[2014-12-08 09:47] KSMAILI commented on #76
Yep !

[2014-12-08 09:47] Yoric commented on #84
Have fun :)

[2014-12-08 09:48] aichabsrh commented on #21
je prend en charge la correction de ce bug

[2014-12-08 09:48] Ipoumb1988 commented on #103
je veux participer à ce projet

[2014-12-08 09:48] Yoric commented on #39
Have fun :)

[2014-12-08 09:49] axelajv commented on #76
Yes we would like work together on it !!

[2014-12-08 09:50] AlexPernot commented on #75
I'll fix it.

[2014-12-08 09:50] Yoric commented on #89
Have fun :)

[2014-12-08 09:51] Yoric commented on #21
Have fun :)

[2014-12-08 09:51] Yoric commented on #103
Have fun :)

[2014-12-08 09:52] Yoric commented on #76
Have fun, both of you.

[2014-12-08 09:52] giant-teapot commented on #103
Ugly is mostly subjective, but this could be improved keeping in mind the current look and feel.

Two questions come to mind :
- would it be okay to use an iconic font (such as FontAwesome) ?
- what did you have in mind in terms of feature for this UI element (besides a return button + menu) ?

[2014-12-08 09:53] Yoric commented on #75
Have fun :)

[2014-12-08 09:58] AlexPernot commented on #75
The `stopPropagation()` method is already called on event in these listeners, so I'll have to find another way to fix the issue.

[2014-12-08 10:02] antoinemaz opened #111 "Error when opening a book"
When i want to open a book, i get the following error :
Error while opening book: TypeError: opener is undefined

I get the same error when i want to upload a file.

My version of Firefox is 33.1

Maybe it works with the lastest version of Firefox ?

[2014-12-08 10:03] Dorypfou commented on #52
I would like to work on this issue.

[2014-12-08 10:03] antoinemaz commented on #111
it works with the latest version (34.0)

[2014-12-08 10:04] AlexPernot commented on #75
It seems that the green menu appears only when you begin a new chapter. I think that's a normal behaviour and that we can close the issue, maybe?

[2014-12-08 10:04] amar-hazem commented on #43
I would like to work on this bug.

[2014-12-08 10:09] Nours312 commented on #47
I would like to work on this bug

[2014-12-08 10:10] edmondsnadane commented on #80
We would like to work on this bug

[2014-12-08 10:12] edmondsnadane commented on #80
Members names : Valérian (pseudo : polskataga) & Alexandre (pseudo : alxrss) & Mohamed ( pseudo:mohamedbelkhir) & Edmond (pseudo:edmondsnadane)

[2014-12-08 10:16] youness1307 commented on #12
I would like to work on this !

[2014-12-08 10:20] Yoric commented on #52
Have fun :)

[2014-12-08 10:21] Yoric commented on #111
We may have been using a feature of JavaScript that was added only with Firefox 34.

Do you wish to investigate the issue?

[2014-12-08 10:22] Yoric commented on #75
Actually, this probably shows up only on mobile these days.

[2014-12-08 10:24] Yoric commented on #43
Have fun :)

[2014-12-08 10:25] Yoric commented on #47
Have fun :)

[2014-12-08 10:25] Yoric commented on #80
Have fun :)

[2014-12-08 10:25] Yoric commented on #12
Cool :)

[2014-12-08 10:32] pfautrero opened #114 "Lector doesn't handle nicely Adobe-generated books (xhtml content with custom entities)"
Some epub files does not contain head title tag and openberg fails in bookviewer.js at line 504 :

    this._title = head.querySelector("title").textContent;

Something like this fix that :

      if (head.querySelector("title") != null) {
        this._title = head.querySelector("title").textContent;
      }
      else {
        this._title = "no title...";
      }

but...maybe should we look for

[2014-12-08 10:32] kruchas91 commented on #64
I'll also add a favicon since there is no available easy issue.

[2014-12-08 10:36] Yoric commented on #114
Good catch. Do you want to work on this?

[2014-12-08 10:41] misbaou commented on #82
i would like to work on this bug :)

[2014-12-08 10:43] Yoric commented on #76
Fixed by the above commit.

[2014-12-08 10:43] #76 closed, assigned to nobody

[2014-12-08 10:44] Yoric commented on #76
@axelajv, @KSMAILI Thanks for fixing the bug. However, please do not send the same patch twice :)

[2014-12-08 10:48] pfautrero commented on #114
oki, let's go.

[2014-12-08 10:50] Yoric commented on #82
Have fun :)

[2014-12-08 10:51] jordiC91 opened #118 "No display in chrome or safari"
I have no display when i try to access to the index if i'm with safari or chrome.
I just see : Welcome to Lector 0.1.1 and nothing else.

Is it normal ?

[2014-12-08 10:54] Yoric commented on #118
No, it's not. It's not surprising, since I never tested it in Safari or Chrome, but this should be fixed. Do you with to investigate the issue?

[2014-12-08 10:56] kruchas91 commented on #118
Yes, i can try !

[2014-12-08 10:58] Yoric commented on #64
Fixed on non-IE platforms, thanks for the patch.

[2014-12-08 10:58] #64 closed, assigned to indydedeken

[2014-12-08 10:58] IndianBoyJii commented on #74
The config.js file called in bookviewer.js seems to don't work. Nothing happen when the fontSize is changed in it.

[2014-12-08 11:03] TheodoreGC commented on #69
up

[2014-12-08 11:03] indydedeken opened #119 "Add a favicon for IE browsers"
Linked to issues #64 and #109 - Add a favicon

OpenBerg Lector's favicon doesn't work on IE browsers.

[2014-12-08 11:04] misbaou commented on #92
i would like to work on this bug

[2014-12-08 11:09] kruchas91 commented on #118
Cause : Chrome and Safari don't have the latest version of Javascript.
(1st error in line 12 in "app.js")

[2014-12-08 11:13] Ipoumb1988 commented on #80
Je veux participer à ce projet

[2014-12-08 11:16] Yoric commented on #118
More precisely, they do not implement "fat arrows" yet (i.e. `=>`).

[2014-12-08 11:17] Yoric commented on #74
So, this bug becomes "why doesn't it change anything?"

[2014-12-08 11:17] Yoric commented on #69
Have fun :)

[2014-12-08 11:18] Yoric commented on #92
@misbaou That would be great :)

[2014-12-08 13:12] IndianBoyJii commented on #74
yes, we can say that

[2014-12-08 13:16] gladys06 commented on #89
i would like too to work on this big

[2014-12-08 13:17] Ipoumb1988 commented on #89
j'aimerais travailler sur ce projet

[2014-12-08 13:25] AlexPernot commented on #119
I can work on it.

[2014-12-08 13:37] Yoric commented on #80
@Ipoumb1988 In this case, get in touch with the other participants.

[2014-12-08 13:40] Yoric commented on #89
@gladys06 , @Ipoumb1988, you should get in touch with @moreaupierrick

[2014-12-08 13:40] AlexManga commented on #59
I would like to work on this issue.

[2014-12-08 13:45] Ipoumb1988 commented on #58
j'aimerais faire ce projet

[2014-12-08 13:51] Yoric commented on #119
Have fun.

[2014-12-08 13:51] Yoric commented on #59
Have fun :)

[2014-12-08 13:53] Yoric commented on #58
@Ipoumb1988 , well, @fatimzahara has already sent a pull request.

[2014-12-08 13:53] BragaLuis commented on #53
Hi, i would like to work on this bug.

[2014-12-08 13:55] Ipoumb1988 commented on #31
je veux faire ce projet

[2014-12-08 14:00] moreaupierrick commented on #89
ok gladys06 and lpoumb1988. this bug is yours ;)

[2014-12-08 14:05] TheodoreGC commented on #37
I would like to work on this problem.

[2014-12-08 14:06] IndianBoyJii commented on #74
It appears that the function "get" fontSize is not called

[2014-12-08 14:07] Yoric commented on #53
Ok, have fun :)

[2014-12-08 14:08] Yoric commented on #31
Sounds good. All the code that does the decompression is on `ChapterContents`, in file `js/bookviewer.js`.

[2014-12-08 14:09] Yoric commented on #37
Cool :)

When you have a book `book`, the table of contents is `book.toc`.

[2014-12-08 14:12] AlexManga commented on #59
i'm working with @srottenberg and @zeelow

[2014-12-08 14:24] pfautrero commented on #114
in fact, issue comes from strange DOCTYPE included in the epub file. XML parser can not handle properly doctype like this :

  <!DOCTYPE html [
  <!ENTITY D "&#x2014;">
  <!ENTITY o "&#x2018;">
  <!ENTITY c "&#x2019;">
  <!ENTITY O "&#x201C;">
  <!ENTITY C "&#x201D;">
  ]>

Have a look on this epub sample : http://contentserver.adobe.com/store/books/aliceDynamic.epub
The idea is to sanitize html f

[2014-12-08 14:41] Yoric commented on #75
Closed by the above commit.

[2014-12-08 14:41] #75 closed, assigned to nobody

[2014-12-08 15:16] Yoric commented on #58
Fixed by the above patch.

[2014-12-08 15:16] #58 closed, assigned to nobody

[2014-12-08 15:20] pfautrero commented on #114
it seems that title element is not a child of head in xml spec

[2014-12-08 15:23] AlexPernot commented on #119
It seems that IE can't display local favicons, they have to be online.
Since I can't test the issue, I'll let Indy fix it. :p
Here's the theory: you have to put these lines in the `<head>`:

[code]

And create a favicon.ico file. Or just use the icon60.png, but it won't work with IE10 and older.

[2014-12-08 15:31] pfautrero commented on #114
ok. So, HTMLDocument has an attribute Title where the <title> content tag is stored. We have to fix line 504 in bookviewer.js like this :

[code]

[2014-12-08 15:35] AlexPernot commented on #103
A little warning: in my pull request (#121), I gave `#arrow_left` and `#arrow_right` divs height and width, so the arrows characters `->` aren't aligned with the bottom green bar. If you plan to replace them with iconic font's characters, consider realigning them.

[2014-12-08 15:47] giant-teapot commented on #103
@AlexPernot thanks for the info, I'll keep that in mind.

[2014-12-08 15:56] pfautrero opened #129 "xhtml doctype entities not handled"
If ebook contains xhtml documents with doctype entities defined like this :

    <?xml version="1.0" encoding="utf-8"?>
    <!DOCTYPE html [
        <!ENTITY D "Yo Boy">
    ]>

, they are not handled properly in the player. &D; is not translated. Example in this ebook :

http://contentserver.adobe.com/store/books/aliceDynamic.epub

[2014-12-08 16:24] Nours312 opened #131 "upgrade sample/lector.epub"
need use android chapiter

Attention : @todo in app.js (L113)

[2014-12-08 16:26] Yoric opened #132 "Can't open a book on Firefox OS 1.3"

[2014-12-08 17:39] indydedeken commented on #119
@AlexPernot : I have already tryed in this way but I think it comes from bug #118 (app didn't work on IE, favicon neither).

[2014-12-08 22:52] Yoric commented on #132
Fixed by above comment.

[2014-12-08 22:52] #132 closed, assigned to Yoric

[2014-12-08 23:00] Yoric opened #133 "Welcome to Lector is missing the Android chapter"

[2014-12-08 23:01] Yoric commented on #133
Commit 71a2cd3 fixes this issue (mistakenly attributed to #103).

[2014-12-08 23:01] #133 closed, assigned to Yoric

[2014-12-08 23:03] Yoric commented on #103
@AlexPernot The arrows not being aligned with the bottom green bar shouldn't be a problem. Let's fix it only if it turns out to be one.

[2014-12-08 23:06] Yoric commented on #131
Also filed as #133.
Fixed by 71a2cd3.

[2014-12-08 23:06] #131 closed, assigned to nobody

[2014-12-08 23:31] Yoric commented on #129
For what it's worth, Apple's iBooks fails to open aliceDynamic.epub. Have you checked if other ebook readers do any better?

[2014-12-08 23:34] Yoric opened #134 "Welcome to Lector ebook looks really ugly"
The svg on the first page is distorted almost beyond recognition. We should find a way to fix this.

[2014-12-08 23:48] Yoric commented on #134
Fixed by above commit.

[2014-12-08 23:48] #134 closed, assigned to Yoric

[2014-12-08 23:48] Yoric opened #135 "Detection of the number of pages in the chapter is imprecise"

[2014-12-09 00:06] Yoric commented on #135
Fixed by the above commit.

[2014-12-09 00:06] #135 closed, assigned to Yoric

[2014-12-09 00:08] Yoric commented on #39
Fixed by above commit.

[2014-12-09 00:08] #39 closed, assigned to nobody

[2014-12-09 00:10] Yoric commented on #111
Fixed by b3aa52f51b795058b9a404c56d9cdb7abaeec9b3.

[2014-12-09 00:10] #111 closed, assigned to Yoric

[2014-12-09 08:23] pfautrero commented on #129
on my debian, I read this ebook successfully with "ebook-viewer" or "calibre"

[2014-12-09 13:12] Yoric opened #138 "Add a variable in `Config` to determine whether we should go fullscreen"
Since pull request #125 landed (issue #58), we automatically go fullscreen whenever we open a book. That's actually a bit annoying when testing.

We should add a Config field to determine whether we actually go fullscreen.
# Steps
1. The Config lives in `js/config`. We want to add a field `Config.fullScreen`, set to `false` by default.
2. In `BookViewer`, we should use `requestFullScreen` only if

[2014-12-09 13:15] Yoric opened #139 "Don't show the green bars at all in the welcome screen"
The green bars are useless in the welcome screen. We should put not show them at all.

For this purpose, it would be sufficient to adjust the `z-level` property of the menus, the bookviewer and the welcome screen so that the welcome screen is above the menus and the menus are above the bookviewer.

This requires editing the files in `css/` directory.

[2014-12-10 12:32] Yoric commented on #9
Fixed by the above commit.

[2014-12-10 12:32] #9 closed, assigned to Yoric

[2014-12-10 12:32] Yoric commented on #23
Fixed by the above commit.

[2014-12-10 12:32] #23 closed, assigned to nobody

[2014-12-10 12:40] Yoric opened #140 "Clarify licensing"

[2014-12-10 12:41] Yoric commented on #140
Fixed by the above commit.

[2014-12-10 12:41] #140 closed, assigned to Yoric

[2014-12-10 12:43] Yoric opened #141 "We should be able to remove books from the database"

[2014-12-10 12:44] Yoric opened #142 "When we import a book to the database, if a copy of the book already existed, we should overwrite it"

[2014-12-11 12:18] Yoric commented on #142
Fixed by above commit.

[2014-12-11 12:18] #142 closed, assigned to Yoric

[2014-12-12 17:49] giant-teapot commented on #84
I was working on this part of the UI, and there's something I'd like to discuss. Needless to say it would be nicer to make buttons out of those arrows.

However document margins are only 2em (32px, see `#lector_root`) whereas the arrows are currently always displayed (no auto-hide). So here it is :
- 32px is way too small for UI components this important (IMHO)
- it would be insane to consider ove

[2014-12-12 18:42] Yoric commented on #84
Actually, overlapping the document's text is ok if the arrows fade out in, say, .3s and re-appear only on mouseover.

[2014-12-15 09:32] guusgit commented on #84
@giant-teapot the first point you highlight can be find in issue #69 .
Then, you're actually right about the arrow's size. We're going to submit a fix today (with correct indentation...) to implement media query to match large screen.
I think with the team on #69 we should come up with a good solution.

[2014-12-15 09:37] Ipoumb1988 commented on #89
j' aimerais travailler pour ce projet

[2014-12-15 09:55] KarloGl commented on #141
I'm interested

[2014-12-15 10:41] didohn commented on #89
Hello , je souhaite travailler sur ce bug si vous me le permettez

[2014-12-15 10:45] gladys06 commented on #89
oui didohn, pas de soucie

[2014-12-15 10:46] Yoric commented on #141
Ok, but know that it's a tricky one.

[2014-12-15 10:53] AlexPernot commented on #139
I volunteer!

[2014-12-15 10:59] Yoric commented on #139
Go ahead.

[2014-12-15 11:14] srottenberg opened #145 "Update launch_path and href values in manifest.webapp for release"
In manifest.webapp, the `launch_app` and `href` values should be updated before final release : from `/lector-dev/index.html` to `/lector/index.html`

The solution will probably be a short release script.

[2014-12-15 11:14] fatimzahara commented on #138
i would like to work on this bug.

[2014-12-15 12:47] Yoric commented on #138
Have fun :)

[2014-12-15 13:43] Darkness-Dev commented on #21
Hi, I would like to contribute on this function.

[2014-12-15 14:00] Yoric commented on #21
@Darkness-Dev you should get in touch with @aichabsrh

[2014-12-15 14:26] fatimzahara commented on #138
the step 2 must be in the file app.js.
The method mozRequestFullScreen is in this file.

[2014-12-15 14:44] Yoric opened #151 "Book opening is broken again on Firefox OS 1.3"

[2014-12-15 14:44] Yoric commented on #151
Fixed by the above commit.

[2014-12-15 14:44] #151 closed, assigned to Yoric

[2014-12-15 15:00] Yoric commented on #138
By the way, @fatimzahara, you should have received an invitation to join OpenBerg contributors. Can you accept the invitation so that I can assign the issue to you?

[2014-12-15 15:13] fatimzahara commented on #138
but I am the contributor of this bug. I just wanted to correct the step 2 that you noted.

[2014-12-15 22:14] Yoric commented on #12
Any news, @youness1307 ?

[2014-12-15 22:14] Yoric commented on #31
Any news, @Ipoumb1988 ?

[2014-12-15 22:14] Yoric commented on #37
Any news, @TheodoreGC ?

[2014-12-15 22:15] Yoric commented on #46
Any news, @edouardalvescamilo ?

[2014-12-15 22:15] Yoric commented on #47
Fixed by the above commit.

[2014-12-15 22:15] #47 closed, assigned to Nours312

[2014-12-15 22:15] Yoric commented on #52
Any news, @Dorypfou ?

[2014-12-15 22:15] Yoric commented on #53
Any news, @BragaLuis ?

[2014-12-15 22:16] Yoric commented on #59
Fixed by the above commit.

[2014-12-15 22:16] #59 closed, assigned to AlexManga

[2014-12-15 22:17] Yoric commented on #74
Fixed by the above commit.

[2014-12-15 22:17] #74 closed, assigned to nobody

[2014-12-15 22:17] Yoric commented on #82
Any news, @misbaou ?

[2014-12-15 22:18] Yoric commented on #92
Any news, @misbaou ?

[2014-12-15 22:18] Yoric commented on #103
Fixed by the above commit.

[2014-12-15 22:18] #103 closed, assigned to nobody

[2014-12-15 22:18] Yoric commented on #118
Any news, @jordiC91 ?

[2014-12-15 22:19] Yoric commented on #139
Fixed by the above commit.

[2014-12-15 22:19] #139 closed, assigned to nobody

[2014-12-15 22:25] kruchas91 commented on #118
I'm going to take some time to restart my patch cause i have a problem with the rebase you made this morning (it happens ^^) and i keep sending line of code i shouldn't send in my pull requests.
Maybe tomorrow if i have time after my exams ?

Sorry for my git level !

[2014-12-15 22:29] Yoric commented on #71
Fixed by the above commit.

[2014-12-15 22:29] #71 closed, assigned to Yoric

[2014-12-16 10:41] Yoric commented on #44
Ahah, we can use Jekyll's YAML preprocessing to make sure that the application cache is updated whenever we push any change to gh-pages.

[2014-12-16 12:42] Yoric commented on #44
Fixed by the above commits.

[2014-12-16 12:42] #44 closed, assigned to Yoric

[2014-12-16 12:45] Yoric commented on #145
Fixed by feb484eb613d86fc1ebcd6bc2e71245bab48c642.

[2014-12-16 13:14] Yoric opened #153 "Overscroll effect for the keyboard"

[2014-12-16 14:39] Yoric opened #155 "The books need more padding on top"

[2014-12-16 14:39] Yoric opened #156 "The application cache seems to have broken pagination... sometimes"

[2014-12-16 14:40] Yoric commented on #153
Fixed by the above commit.

[2014-12-16 14:40] #153 closed, assigned to Yoric

[2014-12-16 14:45] Yoric commented on #155
Fixed by the above commit.

[2014-12-16 14:45] #155 closed, assigned to Yoric

[2014-12-16 15:01] Yoric opened #157 "Download errors when using ?book=samples/alice.epub&chapter=3"

[2014-12-16 15:02] Yoric commented on #156
I suspect that there is a race condition between the loading of `content/book.css` and the updating of the appcache.

[2014-12-16 16:04] Yoric commented on #156
Should be fixed by the above commit. If the issue arises again, we should reopen this bug.

[2014-12-16 16:04] #156 closed, assigned to Yoric

[2014-12-16 16:07] Yoric commented on #138
@fatimzahara yes, but can you accept the invitation? You should find it somewhere in your emails.

[2014-12-16 16:11] Yoric commented on #21
@aichabsrh, @Darkness-Dev, yesterday, one of you showed me that there was a problem with the book "Welcome to Lector". This is a book we can fix, so if your night mode works nicely with the other books, this will be sufficient for this milestone, and we'll improve later.

[2014-12-16 16:12] fatimzahara commented on #138
@Yoric I'm sorry but I haven't received any email about contributors

[2014-12-16 16:35] Yoric opened #159 "Make it possible to determine the build id"
Useful for debugging purposes.

[2014-12-16 16:46] Yoric commented on #159
Fixed by the above commit.

[2014-12-16 16:46] #159 closed, assigned to Yoric

[2014-12-16 16:54] Yoric commented on #30
Note that we will need a followup bug to make this play nicely with night mode and day mode.

[2014-12-16 20:16] Yoric opened #162 "Something is wrong on Android"
On Android:
- the application doesn't have an icon;
- upon loading, the application shows "Welcome to Lector", and then nothing.

[2014-12-16 20:20] Yoric commented on #138
Fixed by the above commits.

[2014-12-16 20:20] #138 closed, assigned to nobody

[2014-12-16 21:18] Yoric commented on #145
Actually, I'm wrong. The issue isn't fixed at all, my bad.

[2015-01-01 21:46] kruchas91 commented on #162
Can it be linked to https://github.com/openberg/lector-dev/issues/118 ?

[2015-01-05 09:56] IndianBoyJii commented on #82
I'd like to work in this one with @Emmanuelpetit , @LVince and @ChristelleA

[2015-01-05 10:35] arezkismail commented on #57
I would like to work on this bug

[2015-01-05 11:12] polskataga opened #168 "When the library menu is too long, can't find button "...open a book"."
When we open several books, the scroll is not defined to go to the bottom. It is impossible for example to "... Open a book".

[2015-01-05 11:15] edmondsnadane commented on #168
We ( with @polskataga) will fix it !

[2015-01-05 12:28] srottenberg commented on #145
I followed the instructions suggested on this link : http://jekyllrb.com/docs/github-pages/#project-page-url-structure

[2015-01-05 12:36] Yoric commented on #162
I doubt it. Firefox for Android uses the same JS engine as Firefox Desktop.

[2015-01-05 12:40] Yoric commented on #82
Apparently, @misbaou is not working on it, so have fun, @IndianBoyJii & co.

[2015-01-05 12:42] Yoric commented on #57
That's a very tricky one, are you sure @arezkismail ?

[2015-01-05 12:45] Yoric commented on #168
Have fun!

[2015-01-05 12:48] srottenberg opened #170 "Problem after firefox update to version 36.0a2"
The app does not work after firefox update to version 36.0a2.

We can only see the title.

This seems to be related to the cache system.

The console displays the following message :
[code]

Temporary workaround : check the "Disable Cache (when toolbox is open)" option in the Toolbox Options and refresh page.

[2015-01-05 13:04] Yoric commented on #170
I believe that 5994d4f fixes the issue. Can you check, @srottenberg ?

[2015-01-05 13:53] srottenberg commented on #170
Yes, it works fine now.

[2015-01-05 14:16] Yoric commented on #170
\o/

[2015-01-05 14:16] #170 closed

[2015-01-05 14:23] amar-hazem commented on #46
@edouardalvescamilo Do you mind if I work on this issue?

[2015-01-05 15:08] Yoric commented on #46
@Wuanshu as far as I can tell, @edouardalvescamilo is not working on it, you can take it.

[2015-01-07 12:51] Yoric commented on #145
Fixed by above pull request.

[2015-01-07 12:51] #145 closed

[2015-01-07 12:52] Yoric commented on #89
Fixed by 89bfbb1.

[2015-01-07 12:52] #89 closed

[2015-01-07 12:53] Yoric commented on #114
Any news, @pfautrero ? Otherwise, I'll handle the bug myself.

[2015-01-09 09:04] pfautrero commented on #114
well, not yet fixed this bug. In fact, I spend some time to understand how is working openberg. Asynchrone behaviors (promises) make the task not so easy. If you want to fix, just do. But, sure, I can do it !

[2015-01-12 10:46] ananas91 commented on #69
Me and "KarloGl" would like to work on this issue

[2015-01-12 11:01] giant-teapot commented on #43
I think this bug which is a duplicate of #89 could also be closed (with 89bfbb1).

[2015-01-12 13:50] Yoric commented on #43
Good catch, thanks.

[2015-01-12 13:50] #43 closed

[2015-01-12 14:04] Yoric commented on #114
@pfautrero I believe that 2c0b4f9 fixes the issue. Can you confirm?

[2015-01-12 14:40] kruchas91 commented on #118
After many tries, can it be closed ?

[2015-01-12 15:01] Yoric commented on #118
Absolutely. Thanks for the patch.

[2015-01-12 15:01] #118 closed

[2015-01-12 15:05] Yoric commented on #114
Ah, this also needs d540a8c.

[2015-02-01 22:24] Yoric commented on #12
In the absence of news, de-assigning.

[2015-02-01 22:24] Yoric commented on #21
Any news, @le2s? Otherwise, I'll pick up this bug.

[2015-02-01 22:25] Yoric commented on #46
Any news, @Wuanshu ? Otherwise, I'll pick that bug.

[2015-02-01 22:26] Yoric commented on #69
Any news, @KarloGl ?

[2015-02-01 22:26] Yoric commented on #80
Any news, @polskataga ? Otherwise, I'll pick up that bug.

[2015-02-01 22:27] Yoric commented on #82
Any news, @IndianBoyJii ? Otherwise, I'll pick up the bug.

[2015-02-01 22:27] Yoric commented on #84
Any news, @bobyjoe91 , @jordiC91 , @polskataga, @damienBodilis, @giant-teapot ?

[2015-02-01 22:28] Yoric commented on #168
Any news, @edmondsnadane and @polskataga ? Otherwise, I'll pick that bug.

[2015-02-02 08:14] IndianBoyJii commented on #82
Hi, we're quite busy here with the DLL exam and project. We can't handle this right now. Good luck with the issue

[2015-02-02 15:48] le2s commented on #21
hi, I can't focus on the issue right now because of all my exams and
college's projects. I will work on it after.

2015-02-01 23:24 GMT+01:00 David Rajchenbach-Teller <
notifications@github.com>:

##

Sami Lessoued.
M2 MIAGE Université d'Evry.

[2015-02-02 19:02] KarloGl commented on #69
Well i did the push, i'll try again.

2015-02-01 23:26 GMT+01:00 David Rajchenbach-Teller <
notifications@github.com>:

[2015-02-03 11:49] Yoric commented on #82
Fixed by the above commit.

[2015-02-03 11:49] #82 closed

[2015-02-03 12:11] Yoric commented on #114
This should now be fixed.

[2015-02-03 12:11] #114 closed

[2015-02-03 12:12] Yoric commented on #21
What's your expected schedule? I would really like to release Lector on the marketplace.

[2015-02-03 15:24] le2s commented on #21
I'll work on it on the upcoming friday.
Le 3 févr. 2015 13:12, "David Rajchenbach-Teller" notifications@github.com
a écrit :

[2015-02-04 14:39] Yoric commented on #168
As this was a big blocker, I just fixed it.

[2015-02-04 14:39] #168 closed

[2015-02-04 14:40] Yoric commented on #46
That's one of the last two blockers for release, so I'll pick it soon if there are no news.

[2015-02-04 14:40] Yoric commented on #129
This should now be fixed.

[2015-02-04 14:40] #129 closed

[2015-02-11 10:15] polskataga commented on #80
Hi @Yoric, sorry for the late answer. We all have different projects to do in priority. So you can pick up this bug. Maybe, we will come back ... Otherwise, thank you we had fun to work on it :-)

[2015-02-12 13:35] Yoric commented on #46
Picking up.

[2015-02-12 14:03] Yoric commented on #46
Fixed by the above commit.

[2015-02-12 14:03] #46 closed

[2015-02-12 14:04] Yoric commented on #84
Actually, this has been fixed a long time ago by 7f47258e2bc598e1815842bd54722db392f8c94b.

[2015-02-12 14:04] #84 closed

[2015-02-12 14:05] Yoric commented on #21
Well, this is the final blocker before relase. If there are no news, I'll pick it up in a few days.

[2015-02-26 14:16] Yoric commented on #21
Fixed by the above commit.

[2015-02-26 14:16] #21 closed

[2015-03-13 14:12] Yoric opened #184 "Release to the Firefox Marketplace"

[2015-03-13 17:29] Yoric commented on #184
Application is pending review.

[2015-03-13 17:32] Yoric commented on #184
https://marketplace.firefox.com/developers/app/lector

[2015-03-13 17:34] Yoric commented on #162
The above commit should fix the empty welcome screen.
The icon issue seems to have fixed itself somehow.

[2015-03-13 17:34] #162 closed

[2015-03-13 17:40] Yoric commented on #60
Ah, the bug has been duplicated. Now tracked in #184.

[2015-03-13 17:40] #60 closed

[2015-03-13 19:55] Yoric opened #186 "Appcache doesn't cache the shared resources for the books"
This prevents us from reading a book without an internet connection.

[2015-03-17 12:36] Yoric commented on #186
Fixed by the above commits.

[2015-03-17 12:36] #186 closed

[2015-03-17 12:37] Yoric commented on #69
This has been fixed at some point.

[2015-03-17 12:37] #69 closed

[2015-03-17 12:37] Yoric opened #189 "The main `html` should not scrol"